<h2>QEMU</h2>

<h3>Create VM</h3>

<form method="POST">
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Disk Image</th>
        <td>
          <input type="text" name="drive[0][file]"/> 
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Create!</button>
</form>
