<% rows = objects %>
<% 
  if rows[0]
    columns = rows[0].keys 
  else
    columns = ['no info available yet']
  end
%>
<h2>RADIUS Accounting</h2>

<table>
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= column.to_s.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% columns.each do |column| %>
          <td><%= row[column] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
