<% 
  require 'onboard/service/radius/passwd'

  best_passwd_type  = 'SSHA1-Password'
  passwd_types      = OnBoard::Service::RADIUS::Passwd::TYPES
%>

<style type="text/css">
  th select, th .optinfo {
    width: 30ex;
  }
  table tr td,  {
    vertical-align: top;
    padding: 1ex;
  }
</style>

<h2>RADIUS Users</h2>

<h3>Create new user</h3>

<form method="POST">
  <table>
    <tbody>
      <tr>
        <th scope="row"><span>User-Name</span></th>
        <td><input type="text" name="check[User-Name]"/></td>
      </tr>
      <tr>
        <th scope="row">
          <select name="check[Password-Type]">
            <% passwd_types.each do |passwd_type| %>
              <% selected = 
                  (passwd_type == best_passwd_type ? 'selected' : '') %>
                <option <%= selected %> value="<%= passwd_type %>">
                  <%= passwd_type %>
                </option>
            <% end %>
          </select>
          <div class="optinfo">
            Password types reflect the way passwords are encrypted in the
            database. The strongest method is SSHA1. Cleartext should be used
            only if clients authenticate using <a href="http://en.wikipedia.org/wiki/Challenge-handshake_authentication_protocol">CHAP</a>.
          </div>
        </th>
        <td><input type="text" name="check[User-Password]"/></td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Create</button>
</form>
