<h2>RADIUS Users</h2>

<h3>Create new user</h3>

<form method="POST">
  <table>
    <tbody>
      <tr>
        <th scope="row">User-Name</th>
        <td><input type="text" name="check[User-Name]"/></td>
      </tr>
      <tr>
        <th scope="row">
          <input type="text" name="check[Password-Type]"/>
        </th>
        <td><input type="text" name="check[User-Password]"/></td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Create</button>
</form>
