<%

%>

<h2>Users and Passwords</h2>
<h3>Administrator’s password</h3>
<%= 
  erubis(
    :"/_messages.html",
    {
      :layout => false,
      :locals => {
        :msg => msg,
        :status => status
      }
    }
  )
%>
<% if request.env['REQUEST_METHOD'] == 'GET' %>
  <div class="warn">
    After a successful password change, you will be authenticated again for the 
    new credentials.
  </div>
<% end %>
<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <table>
    <tr>
      <td><input type="text" readonly value="admin"/></td>
      <th scope="row">Username</th>
    </tr>
    <% unless params['mode'] =~ /^init/ %>
      <tr>
        <td><input type="password" name="oldpasswd"/></td>
        <th scope="row">Old password</th>
      </tr>
    <% end %>
    <tr>
      <td><input type="password" name="newpasswd"/></td>
      <th scope="row">New password</th>
    </tr>
    <tr>
      <td><input type="password" name="newpasswd2"/></td>
      <th scope="row">New password (confirm)</th>
    </tr>
  </table>
  <input type="checkbox" name="system" checked/> Also change Unix login passwords 
  (<code>onboard</code> and <code>root</code> users, if not locked).
  <br/>

  <button type="submit">Save!</button>
</form>
