<%

# encoding: utf-8

require 'onboard/pub/layout'

%>
<!DOCTYPE html>
<%
  title ||= nil # avoid NameError if no title was set

  c = OnBoard::Pub::Layout.read_conf
%>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/pub/css/pub.css"/>
    <link rel="icon" href="/icons/favicon.ico"/> <%# TODO: make it uploadable %>
  </head>
  <body>
    <div id="common-logo-and-info-area">  <!-- Not sure: as a header? footer? sidebar? -->
                                          <!-- Should fit in narrow screens or windows... -->
      <div style="text-align: center">
        <% if c['logo_link'] =~ /\S/ %>
          <a class="img" target="_blank" href="<%= c['logo_link'] %>"><img src="/pub/logo"/></a>
        <% else %>
          <img src="/pub/logo"/>
        <% end %>
      </div>
      <div><%= c['custom_text'] %></div>
    </div>
    <div id="main">

      <%= yield %>

    </div>
  </body>
</html>

