<style type="text/css">
  form {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  form button {
    width: 12ex;
  }
  form input[type=checkbox] {
    vertical-align: middle;
  }
  div.confirm {
    border-bottom: 1px yellow solid;
    width: 40ex;
  }  
  div.confirm span.confirm-msg { 
    width: 34ex;
    display: inline-block;
  }
</style>

<h2><%= title %></h2>

<form method="POST" action="shutdown/reboot.html">
  <button type="submit">Reboot!</button>
  <div class="confirm">
    <span class="confirm-msg">Yes, I want to reboot the system</span>
    <input type="checkbox" name="confirm"/>
  </div>
</form>

<form method="POST" action="shutdown/halt.html">
  <button type="submit">Shutdown!</button>
  <div class="confirm">
    <span class="confirm-msg">Yes, I comfirm I want to halt the system</span>
    <input type="checkbox" name="confirm"/>
  </div>
</form>
