<%
  require 'onboard/network/ap'
%>

<h2><%= title %></h2>
  <%=
    # example partial
    #erubis(
    #  :"/_messages.html",
    #  {
    #    :layout => false,
    #    :locals => {
    #      :msg => msg,
    #      :status => status
    #    }
    #  }
    #)
  %>