<%
  require 'onboard/network/ap'
%>

<h2><%= title %></h2>
  <%=
    # example partial
    #erubis(
    #  :"/_messages.html",
    #  {
    #    :layout => false,
    #    :locals => {
    #      :msg => msg,
    #      :status => status
    #    }
    #  }
    #)
  %>

<form method="post">
<input type="hidden" name="_method" value="put"/>
<table>
  <tr>
    <th>Driver</th>
    <td><input type="text" name="driver" value="nl80211"/></td>
  </tr>
  <tr>
    <th>SSID</th>
    <td><input type="text" name="ssid"/></td>
  </tr>
  <tr>
    <th>HW Mode</th>
    <td><input type="text" name="hw_mode"/></td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
  <tr>
    <th>x</th>
    <td>y</td>
  </tr>
</table>
</form>