<%
  paths = formats.map do |fmt|
    request.path_info.sub(/\.\w+$/, ".#{fmt}")
  end
%>
<style type="text/css">
  kbd {
    background: transparent;
  }
</style>
<h2>Multiple Choices</h2>
<p>
The requested resource is available <em>only</em> in the following formats:
  <ul id="acceptable-representations">
    <% paths.each do |path| %>
      <li><kbd><a href="<%= path %>"><%= path %></a></kbd>
    <% end %>
  </ul>
</p>
