<%
# variables:
#   page
#   per_page
#   total_items

require 'rack/utils'

pages = ( total_items.to_f / per_page.to_f ).ceil

%>

<% if pages > 1 %>
  <div class="paginator">
    <% (1..pages).each do |page_n| %>
      <% if page.to_i == page_n %>
        <%= page_n %>
      <% else %>
        <a href="?<%= query_string_merge('page' => page_n) %>"><%= page_n %></a>
      <% end %>
    <% end %>
  </div>
<% end %>

