<% name = "MARGAY"  %>    
  <div style="margin-top: 6em;">
    <div style="text-align:center; border: 0;">      
      <div><img src="/images/margay.gif"/></div>
    </div>
    <div>
        <p style="text-align: center;">A Linux-based network appliance developed by <a href="http://www.vemarsas.it/">VEMAR S.A.S.</a></p>
        </p>
    </div>
  </div>

