<% name = "Ruby OnBoard"  %>    
    <div style="width:70%;">
      <h2>Welcome to <%= name %></h2>
      <p>A Web Interface to manage Linux-based network appliances.</p>
      <p>
        <%= name %> is based on 
        <a href="http://www.sinatrarb.com/">Sinatra</a> and is 
        mostly tested on the 
        <a href="http://linux.voyage.hk/">Voyage Linux</a> distribution.
      </p>
    </div>
    <div style="background:url('/images/3927321029_0dac82a175_b.jpg'); padding-top:12em; font-size:80%;">
      <i>Image from <a href="http://www.flickr.com/photos/viagallery/3927321029/">viagallery.com</a>.</i>
    </div>

