<!DOCTYPE html>
<html>
  <head>
    <title><%= OnBoard::LONGNAME %></title> 
    <link rel="stylesheet" href="/css/default.css"/>
  </head>
  <body>
    <div id="sidebar">
      <%= OnBoard::MENU_ROOT.to_html_ul %>
    </div>
    <div id="main">
      <%= erb(:"_navbar.html", :layout => false) %>
      <%= yield %>
    </div>
  </body>
</html>
