<%
  require 'onboard/network/interface'

  wlifs = OnBoard::Network::Interface.getAll.select{|i| i.type == 'wi-fi'}
%>

<h2>Wireless Access Point(s)</h2>
  <%=
    # example partial
    #erubis(
    #  :"/_messages.html",
    #  {
    #    :layout => false,
    #    :locals => {
    #      :msg => msg,
    #      :status => status
    #    }
    #  }
    #)
  %>

<% wlifs.each do |i| %>
  <a href="ap/<%= i.name %>.html"><%= i.name %></a>
<% end %>

