<h1><%= title %></h1>

<%= message_partial(msg) %>

<form method="POST">
  <table style="margin-top:2.8em;">
    <tr>
      <th scope="row">
        <%= t.email.address.capitalize %>
      </th>
      <td>
        <input type="text" class="rwtext" name="email"/>
      </td>
    </tr>
  </table>
  <button type="submit"><%= t[:send].you.capitalize %></button>
</form>

