<%
  pkiname = params[:pkiname]
%>

<h2>Certificate Authority</h2>
<% if msg[:ok] %>
  <p>Certificate Authority has been successfully initialized.</p>
  <p>(Back to <a href="../<%= pkiname %>.html"><em>SSL keys and certificates</em></a>)</b>.
<% else %>
  <div class="error">
    <p style="font-style: italic;">
      Request was not fulfilled due to the reported errors:</p>
    <pre><%== msg[:err] %></pre>
    <pre><%== msg[:stderr] %></pre>
  </diV>
<% end %>
