<h2>Cerificate</h2>
<% if msg[:ok] %>
  <p>Certificate has been successfully deleted.</p>
<% else %>
  <div class="error">
    <p style="font-style: italic;">
      Request was not fulfilled due to the reported errors:</p>
    <pre><%= escape_html msg[:err] %></pre>
    <pre><%= escape_html msg[:stderr] %></pre>
  </diV>
<% end %>
<% if request.referer =~ /\S/ %>
  <p>
    (<a href="<%= request.referer%>">Back</a>).
  </p>
<% end %>
