<select style="width:4.5em;" name="dev-type">
  <option title="Recommended for IPv4, routed VPNs" value="tun" selected>
    TUN
  </option>
  <option title="Useful for IPv6 and/or bridged VPNs" value="tap">
    TAP
  </option>
</select>

