          <select style="width:9em;" name="dev-type">
            <option title="Recommended for IPv4, routed VPNs" value="tun" selected>Point-to-Point</option>
            <option title="Useful for IPv6 and/or bridged VPNs" value="tap">Virtual Ethernet</option>
          </select>

