<h2><%= title %></h2>

<p>
  If you have configured one or more <span class="product-name">OpenVPN</span> 
  server instances, this page will help you to configure the related clients,
  including <span class="product-name">Microsoft&reg; Windows&reg;</span> 
  clients.
</p>
