<h2>HotSpot Login page</h2>
<p>
  Based on <em>hotspotlogin.rb</em> 
  [<a href="http://rubygems.org/gems/hotspotlogin">1</a>, 
    <a href="http://github.com/gderosa/hotspotlogin.rb">2</a>] 
</p>

<pre><%= html_escape objects.pretty_inspect %></pre>

