<h2>HotSpot Login page</h2>
<p>
  Based on <em>hotspotlogin.rb</em> 
  [<a href="http://rubygems.org/gems/hotspotlogin">1</a>, 
    <a href="http://github.com/gderosa/hotspotlogin.rb">2</a>] 
</p>

<h3>Current status</h3>
<table>
  <tbody>
    <tr>
      <th scope="row">Running?</th>
      <td><%= yes_no_icon true, :print_no %></td>
      <td><%= action_button :reload %></td>
    </tr>
  </tbody>
</table>

