<h2>Export configuration</h2>

<h3>Download configuration archive</h3>
<table>
  <tr>
    <td style="padding:0.4em;"><a style="border:0;" href="/configuration.tgz"><img style="vertical-align:middle; border:0;" alt="download" src="<%= icondir %>/<%= iconsize %>/actions/document-save-as.png"/></a></td> 
    <th scope="row">Download</th>
  </tr>
</table>
