<h2>Export configuration</h2>

<p>Download configuration archive (for debug and technical support).</p>
<table>
  <tr>
    <td style="padding:0.4em;"><a class="img" href="/configuration.tgz"><img style="vertical-align:middle; " alt="download" src="<%= icondir %>/<%= iconsize %>/actions/document-save-as.png"/></a></td>
    <th scope="row">Download</th>
  </tr>
</table>
