<h2>Save configuration</h2>

<p>
Save the current configuration, so it will be restored at the
next reboot?
</p>
<pre>
</pre>
<form method="POST">
  <button name="save" value="Yes" type="submit">Yes</button>
  <button name="save" value="No" type="submit">No</button>
</form>
