<% chilli = objects %>
<h2>Captive Portal on interface: <%= chilli.conf['dhcpif'] %></h2>
<p class="credits">Based on <a href="http://coova.org/CoovaChilli">CoovaChilli</a>.</p>


<h3>Configuration</h3>


<%=
  format(
    :module => 'chilli',
    :path => '/network/access-control/chilli/_ifconfig',
    :partial => true,
    :objects => chilli,
    :format => 'html'
  )
%>


