  <div id="tabs-config"> 
    <h3>Configuration</h3>
    <ul>
      <li><a href="#tabs-config-general">General</a></li>
      <li><a href="#tabs-config-disks">Disks</a></li>
      <li><a href="#tabs-config-passthrough">Host Hardware Pass-Through</a></li>
      <li><a href="#tabs-config-net">Virtual Networking</a></li>
      <li><a href="#tabs-config-advanced">Advanced</a></li>
    </ul>
    <form method="POST">
      <input type="hidden" name="_method" value="put"/>
      <%= 
        partial(
          :module => 'qemu',
          :path   => 'virtualization/qemu/_form_create_edit',
          :locals => {
            :all_bridges        => all_bridges,
            :vm                 => vm
          }
        )
      %>
      <button style="margin:1ex 4px 0 4px" type="submit">Change!</button>
    </form>
  </div>
