<% 
  # passed variables:
  # 
  # all_interfaces ||= OnBoard::Network::Interface.getAll
  # select_name
%>
            <select name="<%= select_name %>">
              <option value=""></option>
              <% all_interfaces.each do |iface| %>
                <%
                  bridge_info = nil
                  if local_variables.include? :print_bridge_info and print_bridge_info
                    bridge_info = "(bridge)" if iface.bridge?
                    bridge_info = "(bridge port -> #{iface.bridged_to})" if iface.bridged?
                  end
                %>
              <option value="<%= iface.name %>"><%= iface.name %><% if bridge_info %> <%= bridge_info %><% end %></option>
              <% end %>
            </select>

