<h2><%= title %></h2>

<table>
  <% objects.each do |netif| %>
    <% if netif.type == 'ether'%>
      <tr>
        <td style="font-weight: bold">
          <%= netif.name %>
        </td>
        <td>
          <input type="text" name="vlan[trunk][<%= netif.name %>]" value="<%= netif.vlan_info[:ids].join(',') %>"/>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>