<h2><%= title %></h2>

<form method="POST">
<table>
  <thead>
    <tr>
      <th>Interface</th>
      <th>VLAN IDs</th>
    </tr>
  </thead>
  <tbody>
  <% objects.each do |netif| %>
    <% if netif.type == 'ether'%>
      <tr>
        <th scope="row">
          <%= netif.name %>
        </th>
        <td>
          <input type="text" name="vlan[trunk][<%= netif.name %>]" value="<%= netif.vlan_info[:ids].join(',') %>"/>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<input type="hidden" name="_method" value="PUT"/>
<button type="submit">Change!</button>
</form>