<% 
  require 'onboard/network/routing'
  require 'onboard/network/qos/diffserv'

  all_tables      = OnBoard::Network::Routing::Table.getAllIDs 
  all_interfaces  = OnBoard::Network::Interface.getAll 
  all_rules       = objects 

%>

<h2>Advanced Routing: Rules</h2>

<h3>Current rules</h3>

<%=
  erb(
    :"network/routing/_rules.html",
    {
      :layout => false,
      :locals => {
        :all_tables     => all_tables,
        :all_interfaces => all_interfaces,
        :all_rules      => all_rules
      }
    }
  )    
%>

<button type="submit">Change</button> <span class="error">TODO!</span>

<h3>Add a new rule</h3>

