<% require 'onboard/network/routing/table' %>
<% system_tables = objects['system_tables'] %>
<% custom_tables = objects['custom_tables'] %>

<h2>Advanced Routing: Routing Tables</h2>

<h3>System tables</h3>

<%= 
  erb(
    :"network/routing/_tables.html",
    {
      :layout => false,
      :locals => {:tables => system_tables} 
    }
  )
%>

<h3>Custom tables</h3>

<%= 
  erb(
    :"network/routing/_tables.html",
    {
      :layout => false,
      :locals => {:tables => custom_tables} 
    }
  )
%>
