Gluster service should be started by OnBoard and not by Debian/Init/whatever
because network could be unconfigured at that stage and service may
fail to start.
